<!-- C'est la page D'Accueil -->
<ion-header class="accueil">
  <img src="./assets/images/cate.jpg" alt="">
  <div class="menu">
      <h2><a [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></a></h2>
      <h3 class="profil"><a [routerLink]="['/login']"><ion-icon name="person-circle-outline"></ion-icon></a></h3>
  </div>
      <h1>Nos services <br>Disponible</h1>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<div class="menu1">
  <div class="burger" *ngFor="let categorie of categories">
    <div *ngIf="categorie.title || categorie.description || categorie.image">
      <a href=""><img [src]="categorie.image" alt=""></a>
      <div class="cateText">
        <h2>{{ categorie.title }}</h2>
        <p>{{ categorie.description }}</p>
      </div>
    </div>
  </div>
</div>

</ion-content>   
<ion-footer [translucent]="true">
<div class="footer">
  <ion-item [routerLink]="['/home']" [class.active]="activeButton === 'home'" (click)="setActiveButton('home')">
    <ion-icon name="home-outline"></ion-icon>
  </ion-item>
  <ion-item [routerLink]="['/contact']" [class.active]="activeButton === 'location'" (click)="setActiveButton('location')">
    <ion-icon name="call-outline"></ion-icon>
  </ion-item>
  <ion-item [routerLink]="['/your-search-route']" [class.active]="activeButton === 'search'" (click)="setActiveButton('search')">
    <ion-icon name="restaurant-outline"></ion-icon>
  </ion-item>
</div>
</ion-footer>
