// Css pour la partie Accueil
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Updock&display=swap');
.accueil{
    text-align: center;
    width: 100%;
    height: 30%;
    border-radius: 0 0 40px 40px;
    font-family: 'Poppins', sans-serif;
}
.accueil::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    left: 0;
    width: 100%; 
    height: 100%;
    border-radius: 0 0 40px 40px;
    background-color: rgba(0, 0, 0, 0.412); /* Couleur foncée semi-transparente */
    z-index: 1; /* Assure que la superposition est au-dessus de l'image */
}
.accueil img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0 0 40px 40px;
}
.accueil h1{
    width: 100%;
    position: absolute;
    color: #F3EDC8;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    font-size: 2.3em;
    font-weight: bolder;
    z-index: 2;
}
.menu a{
    text-decoration: none;
    color: #F3EDC8;
}
.accueil h2{
    position: absolute;
    color: #F3EDC8;
    text-align: center;
    margin-left: 20px;
    top: 10px;
    font-size: 2.3em;
    font-weight: bolder;
    z-index: 2;
}
.accueil h3{
    position: absolute;
    color: #F3EDC8;
    text-align: center;
    left: 94%;
    top: 10px;
    transform: translateX(-94%);
    font-size: 2.3em;
    font-weight: bolder;
    z-index: 2;
}
.accueil h3 ion-icon{
    width: 45px;
    height: 45px;
}
// Css Pour les catégories
.Contenu{
    margin-top: 5px;
    text-align: center;
    color: #7D0A0A;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
.Contenu1{
    width: 92%;
    text-align: right;
    position: absolute;
    margin-top: -28px;
    color: #7d0a0a96;
}
.menu1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    justify-content: space-between;
    text-align: center;
    color: #7D0A0A;
}
.burger:hover{
    transform: scale(1.05); /* Applique un zoom de 105% lors du survol */
    transition: transform 0.2s ease; /* Ajoute une transition fluide */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.burger {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F3EDC8;
    border-radius: 10px 10px 40px 40px;
    flex: 0 1 calc(50% - 10px); /* Définir la largeur de chaque élément à 50% - espace */
    margin-bottom: 20px; /* Ajouter un espacement entre les lignes */
}

.menu1 img{
    width: 100%;
    height: 100px;
    object-fit: cover; 
    border-radius: 10px 10px 0 0;
    flex: 0 1 calc(50% - 10px);
    filter: brightness(70%);
}
.cateText{
    padding: 5px;
    background-color: #EAD196;
    border-radius: 0px 0px 40px 40px;
}
.cateText h2{
    font-family: 'Updock', cursive;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    font-size: 2em;
}
.cateText p{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

//Css pour le footer
ion-footer{
    background:#ffffffe0;
    height: 85px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}

.footer ion-icon{
    text-decoration: none;
    color: #7D0A0A;
    width: 32px;
    height: 32px;
}

.active {
    /* Ajoutez ici le style que vous souhaitez appliquer au bouton actif */
    color: blue; /* Exemple : change la couleur du texte en bleu */
  }
.item,
.icon {
    --background: transparent !important;
    --padding-start: 0; /* Pour supprimer l'espacement à gauche */
    --inner-padding-end: 0; 
  }
  ion-item {
    --ion-item-end: unset !important;
    --display:none;
  }
  