<ion-content class="bg" [fullscreen]="true">
 <div class="container">
     <div class="imAC">
        <img src="../assets/images/acc.png" alt="">
     </div>
     <div class="slogan">
        <h1>
          Votre événement,<br> notre passion!
        </h1>
     </div>
     <div class="button">
      <a [routerLink]="['/home']"><ion-button color="light" shape="round" >Bienvenue<ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button></a>
     </div>
     <div class="connecter">
        <p>Se connecter à votre compte <a [routerLink]="['/login']">Login</a></p>
     </div>
 </div>
 
</ion-content>
