ion-toolbar{
    --background: white;
    
}
.menu1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #858585;
}

.burger{
    display: grid;
    grid-template-columns: repeat(4, 18rem,1fr);
    grid-gap: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    
}
ion-footer{
    background:#ffffffe0;
    height: 85px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}
.footer a{
    text-decoration: none;
    color: #00000071;
}