<ion-header [translucent]="true" class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button>
        <ion-button>
          <img style="width: 80px;height: 40px;object-fit: cover;" src="./assets/images/FAM_rouge.png" alt="">
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <a [routerLink]="['/sign-up']"><ion-button color="light"><img style="width: 40px;height: 40px;object-fit: cover;border-radius: 50px;" src="./assets/images/dior.jpg" alt=""></ion-button></a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar style="margin-top: 5px;"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="menu1">
    <ion-item-sliding class="burger" *ngFor="let categorie of categories">
      <ion-item>
        <!-- Contenu masqué par défaut -->
        <ion-label>  
          <h2>{{ categorie.title }}</h2>
          <p>{{ categorie.description }}</p>
          
        </ion-label>
      </ion-item>

      <ion-item-options>
        <!-- Contenu affiché lorsque l'utilisateur fait glisser -->
        <a href=""><img style="width: 45px;height: 45px;object-fit: cover;" src="./assets/images/burger.png" alt=""></a>
        <!-- <h2>{{ categorie.title }}</h2>
        <p>{{ categorie.description }}</p> -->
      </ion-item-options>
    </ion-item-sliding> 
  </div>
  <div class="promo" style="display: block;justify-content: center;margin:10px;" *ngFor="let produit of produits">
    <h3 style="font-weight: bolder; top: 1Opx; position: absolute;">Promotions</h3><br>
    <div class="impro" style="margin-top: 0px;padding: O;">
      <a href=""><img src="./assets/images/prom.png" alt=""></a>
    </div>
    <h2>{{ produit.title }}</h2>
    <p>{{ produit.description }}</p>
  </div>
  <div class="promo" style="display: block;justify-content: center;margin:10px;">
    <h3 style="font-weight: bolder; top: 1Opx; position: absolute;">Populaire</h3><br>
    <div class="impro" style="display: flex;justify-content: space-around;margin-top: 32px;">
      <a href=""><img src="./assets/images/pop1.png" alt=""></a><br>
      <a href=""><img src="./assets/images/pop2.png" alt=""></a>
    </div>
    <div class="impro" style="display: flex;justify-content: space-around;margin-top: 32px;">
      <a href=""><img src="./assets/images/pop1.png" alt=""></a><br>
      <a href=""><img src="./assets/images/pop2.png" alt=""></a>
    </div>
  </div>
  
</ion-content>
<ion-footer>
   <div class="footer">
     <a href="#"><ion-icon style="width: 32px;height: 32px;" name="home-outline"></ion-icon></a>
     <a href=""><ion-icon style="width: 32px;height: 32px;" name="search-outline"></ion-icon></a>
     <a href=""><ion-icon style="width: 32px;height: 32px;" name="add-circle-outline"></ion-icon></a>
     <a href=""><ion-icon style="width: 32px;height: 32px;" name="location-outline"></ion-icon></a>
   </div>
</ion-footer>
